body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.status_bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.status_bar__column{
    width: 33%;
}

/*첫번째status_bar__column에 span에 마진을 준다.*/
.status_bar__column:first-child span{
    margin-right: 5px;
}
/*두번째status_bar__column*/
.status_bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
/*두번째status_bar__column*/
.status_bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status_bar__column:last-child .fa-battery-full{
    margin: 0px 5px;
}