#login-form{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    
}

#login-form input{
    padding: 15px 0px;
    border: none;
   
   margin-bottom: 20px;
}
/* 로그인폼 input중 submit 속성이 아닌 input들에게  */
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out ;

}
#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus{
	color: rgba(0, 0, 0, 0.4);
    border-color: var(--yellow);
    transition: 0.3s ease-in-out ;
}

#login-form input[type="submit"]{

    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;

}

#login-form a {
    text-align: center;
    text-decoration: none;
    /* 상속 */
    color: inherit;
    font-size: 13px;
}