.nav{
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list{
    display: flex;
    justify-content: space-between;

}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification{
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display: flex ;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 23px;
    left: 15px;

}

.nav__dot{
    display: block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 15px;
    position: absolute;
    top: -10px;
    right: -10px;
}